<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="errorlog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/manager/error.log" />
		<param name="maxBackupIndex" value="100" />
		<param name="maxFileSize" value="20MB" />
		<param name="Threshold" value="error" />
		<param name="Encoding" value="GBK" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="transferlog" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="log/manager/transfer.log" />
		<param name="maxBackupIndex" value="100" />
		<param name="maxFileSize" value="20MB" />
		<param name="Threshold" value="debug" />
		<param name="Encoding" value="GBK" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %-5p %c - %m%n" />
		</layout>
	</appender>

	<logger name="com.fdzcxy.tms.manager" additivity="false">
		<level value="debug" />
		<appender-ref ref="transferlog" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="errorlog" />
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="info" />
		<appender-ref ref="transferlog" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="errorlog" />
	</logger>
	
	<logger name="org.springframework" additivity="false">
		<level value="warn" />
		<appender-ref ref="transferlog" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="errorlog" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="errorlog" />
		<appender-ref ref="transferlog" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>